/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html {
  height: 100%;
  font-family: 'Maven Pro', sans-serif;
  font-size: 62.5%;
  background-color: #1d1d1d;
}
body {
  line-height: 1.25;
  margin: 0 auto;
  width: 900px;
  background-color: #2d2d2d;
  background-image: url(/images/starsbg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  border-top: 10px solid #141414;
  border-left: 10px solid #141414;
}
.navwrapper {
  position: sticky;
  overflow: hidden;
  top: 0;
  z-index: 1337;
}
nav {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: space-around;
  align-items: flex-end;
  font-size: 1.8rem;
  margin: 1%;
}
nav a {
  text-decoration: none;
  color: white;
  text-align: center;
  transition: all 0.6s;
}
nav a:hover {
  color: #6037bf;
}
a {
  text-decoration: none;
  color: darkmagenta;
}
a a:hover {
  color: #6037bf;
}
header {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.spacer {
  height: 22rem;
}
#name {
  margin: 10 0 0 0;
  font-size: 4rem;
  color: whitesmoke;
}
#nametitle {
  font-size: 2rem;
  color: #6037bf;
}
h3 {
  font-size: 1.8rem;
}
.headeritem {
  margin: 0;
  padding: 0;
  text-align: center;
}
.icons {
  display: flex;
  width: 20%;
  margin: 0 auto;
  padding: 2rem 0 4rem 0;
  font-size: 2.2rem;
  color: whitesmoke;
  border-radius: 5px;
  justify-content: center;
  justify-content: space-between;
}
.icons a {
  color: whitesmoke;
}
.icons a:hover {
  color: #6037bf;
}
.about {
  display: flex;
  width: 95%;
  margin: 0 auto;
  font-size: 1.6rem;
  color: whitesmoke;
  border-radius: 10px;
  border-top: 1px solid grey;
}
.services {
  display: flex;
  width: 95%;
  margin: 2rem auto;
  border-radius: 10px;
  border-top: 1px solid grey;
}
.service-item {
  display: flex;
  width: 49%;
  margin: 0 auto;
  padding: 0 0.5rem;
  font-size: 1.6rem;
  color: whitesmoke;
}
#divider {
  border-left: 1px solid grey;
  margin: 1rem;
}
.button {
  border: 1px solid grey;
  border-radius: 5%;
  color: #6037bf;
  width: 15%;
  margin-left: 10px;
  padding: 10px;
  text-align: center;
}
.button a {
  color: #6037bf;
}
.button a:hover {
  color: whitesmoke;
}
.experience {
  display: flex;
  width: 95%;
  margin: 2rem auto;
  border-radius: 10px;
  border-top: 1px solid grey;
  color: whitesmoke;
}
.experience div {
  font-size: 1.6rem;
}
footer {
  text-align: center;
  font-size: 1rem;
  color: #6037bf;
}
